html, body {
  height: 100%;
  margin: 0;
}

.odometer, .tag {
  font-family: 'Roboto' !important;
}

.odometer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25vmin;
  font-weight: 100;
}

.tag {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vmin;
  font-weight: 300;
  font-style: italic;
}
