html, body {
  height: 100%;
  margin: 0;
}

.odometer, .tag {
  font-family: 'Roboto';
  font-weight: 300;
}

.odometer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25vw;
}

.tag {
  position: absolute;
  top: 75%;
  left: 65%;
  font-size: 3vw;
}
